{% extends 'base/base.html' %}
{% block title %}Notes List{% endblock %}

{% block content %}
{% include 'notes/_nav.html' %}
<div class="flex-between mb-2">
    <h1 class="fw-bold text-white"><i class="bi bi-calendar-event me-4"></i>Notes List</h1>
    <span class="badge bg-primary rounded-pill fs-6 px-3 py-2">{{ page_obj.paginator.count }} Notes</span>
</div>

<div class="row row-cols-1 row-cols-md-2 g-4 mb-4">
    {% for note in page_obj %}
    <div class="col">
        <div class="card border-0 shadow-sm glass-card hover-shadow transition-all">
            <div class="card-body px-3 py-2">
                <div class="flex-between mb-1">
                    <div>
                        <h4 class="card-title fw-bold mb-1">
                            <a href="{% url 'notes:note-detail' note.id %}{% if request.GET.page %}?page={{ request.GET.page }}{% endif %}" class="text-decoration-none text-dark stretched-link">
                                {{ note.title }}
                            </a>
                        </h4>
                        <small class="text-muted">
                            <i class="bi bi-clock me-1"></i>{{ note.created_at|date:"Y-m-d H:i" }}
                        </small>
                    </div>
                    {% if note.is_completed %}
                    <span class="badge bg-success bg-opacity-10 text-success border border-success border-opacity-25 rounded-pill">Completed</span>
                    {% else %}
                    <span class="badge bg-warning bg-opacity-10 text-warning border border-warning border-opacity-25 rounded-pill">Incomplete</span>
                    {% endif %}
                </div>
                
                <p class="card-text text-muted mb-3 text-truncate">
                    {{ note.description|safe }}
                </p>

                <div class="mb-1">
                    {% if note.writer %}
                    <div class="d-flex align-items-center text-secondary">
                        <i class="bi bi-person-badge me-2"></i>
                        <span>writer: {{ note.writer }}</span>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="card-footer bg-transparent border-top-0 pb-2 pt-0 px-3 d-flex justify-content-between align-items-center">
                <div class="position-relative z-2">
                    {% if user.is_authenticated %}
                        {% if user == note.writer or user.is_superuser %}
                        <a href="{% url 'notes:note-update' note.id %}" class="btn btn-sm btn-outline-primary rounded-pill">Edit</a>
                        <a href="{% url 'notes:note-delete' note.id %}" class="btn btn-sm btn-outline-danger rounded-pill" onclick="return confirm('이벤트를 삭제하게요?');">Delete</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
