{% load static %}

<link rel="stylesheet" href="{% static 'css/docs-style.css' %}">
<div class="d-flex justify-content-center">
    <ul class="nav nav-tab mb-2 mb-lg-0 flex-wrap">
        <li class='nav-item ps-3'><a class="nav-link {% if '/ai/index' in request.path %} active text-primary {% endif %}" href="{% url 'ai:index' %}">AI |</a></li>
        <li class='nav-item ps-3'><a class="nav-link {% if '/ai/tips' in request.path %} active text-primary {% endif %}" href="{% url 'ai:tips' %}">Tips |</a></li>
        <li class='nav-item'><a class="nav-link {% if '/numpy_pandas/' in request.path %} active text-primary {% endif %}" href="{% url 'ai:numpy_pandas' %}">Numpy & Pandas |</a></li>
        <li class='nav-item'><a class="nav-link {% if '/matplotlib/' in request.path %} active text-primary {% endif %}" href="{% url 'ai:matplotlib' %}">Matplotlib |</a></li>
        <li class='nav-item'><a class="nav-link {% if '/keras/' in request.path %} active text-primary {% endif %}" href="{% url 'ai:keras' %}">keras |</a></li>
        <li class='nav-item'><a class="nav-link {% if '/scikit-learn/' in request.path %} active text-primary {% endif %}" href="{% url 'ai:scikit-learn' %}">scikit-learn |</a></li>
        <li class='nav-item pe-3'><a class="nav-link {% if '/linear-regression/' in request.path %} active text-primary {% endif %}" href="{% url 'ai:linear-regression' %}">linear-regression |</a></li>
    </ul>
</div>