{% extends 'base/base.html' %}
{% load static %}
{% block title %} Matplotlib {% endblock %}

{% block content %}
{% include 'ai/_nav.html' %}
<div class="container mt-4">
    <div class="text-center mb-2">
        <h1 class="display-5 doc-title">kaggle data 활용하기</h1>
    </div>
    
    <div class="glass-card rounded-2 shadow-sm px-4 pb-3 mb-4">
        <h3 class="border-bottom mb-1">데이터 가져오기</h3>
        <h4>그냥 사이트에서 csv 파일 다운 받아서 사용</h4>
<pre>
cli 에서
kaggle > settings generate key
$env:KAGGLE_API_TOKEN="KGAT_5a62945d935e6664eb0d07c2743374df"
kaggle kernels pull lucifierx/netflix

파일에서
import kagglehub  # noqa: E402

# Download latest version
path = kagglehub.dataset_download("heptapod/titanic")

print("Path to dataset files:", f"{path}\\train_and_test2.csv")
titanic = pd.read_csv(f"{path}\\train_and_test2.csv")
titanic["Servived"] = titanic["2urvived"]
</pre>
    </div>
</div>

{% endblock %}