{% extends "base/base.html" %}
{% block title %} Update Command {% endblock %}

{% block content %}
<h1 class="fw-bold text-white">🖱️ Update Command</h1>

{% include 'asct/_nav.html' %}

<div class="col-lg-10 mx-auto">
    <div class="card border-0 shadow-sm glass-card mb-4">
        <div class="card-body p-5">
            <h4 class="card-title fw-bold mb-4 text-secondary">✍🏻 Edit Command</h4>
            
            <form method="post" >
                {% csrf_token %}
                {{ form.as_p }}
                <div class="flex-end gap-2 mt-3">
                    <a href="{% url 'asct:cmd_detail' form.instance.id %}" class="btn btn-glass-secondary rounded-pill px-4">❌ Cancel
                    </a>
                    <button type="submit" class="btn btn-glass-primary rounded-pill px-4">
                        ✍🏻 Update Command
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}