.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    }
.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.flex-start {
    display: flex;
    justify-content: start;
    align-items: baseline;
}
.flex-end {
    display: flex;
    justify-content: end;
    align-items: baseline;
}
.photo-style {
    object-fit: cover; 
    border-top-left-radius: 0.4rem; 
    border-top-right-radius: 0.4rem;
}
.h-31px {
    height: 31px !important; /* Bootstrap의 기본 스타일을 덮어써야 할 경우 !important를 사용합니다. */
}

.hero-gradient {
    background: linear-gradient(to right, #5a6b8f, #4d588a, #3e45a7);
    opacity: 0.6;
}
.bi-bg {
    font-size: 6rem; opacity: 0.25;
    margin-bottom: 1rem;
}

.filter-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination .page-link {
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 4px;
    color: #555;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    transition: all 0.2s ease-in-out;
    font-weight: 500;
}
.pagination .page-link:hover {
    background-color: #fff;
    color: #0d6efd;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.pagination .page-item.active .page-link {
    background-color: #0d6efd;
    color: #fff;
    box-shadow: 0 4px 10px rgba(13, 110, 253, 0.3);
}
.pagination .page-item:first-child .page-link, 
.pagination .page-item:last-child .page-link {
    border-radius: 50%; /* Override bootstrap default */
}